{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>My blog</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div class="page-header">
		<h1><a href="/">My blog</a></h1>	
	</div>


	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% for post in posts %}	
					<div class="post">
						<div class="date">
							<p>published: {{post.published_date}}</p>
						</div>
						<h2><a href="">{{post.title}}</a></h2>
						<p>{{post.text|linebreaks}}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
</body>
</html>